<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.khleuven.kortlevenheylen.securesms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

    <supports-screens android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="be.khleuven.kortlevenheylen.securesms.model.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.FirstTimeActivity"
            android:label="@string/title_activity_first_time" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.VerificationActivity"
            android:label="@string/title_activity_verification"
            android:parentActivityName="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity" />
        </activity>
        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity"
            android:label="@string/title_activity_conversations" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.InboxActivity"
            android:label="@string/title_activity_inbox" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity" />
        </activity>
        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.SendSMSActivity"
            android:label="@string/app_name"
            android:parentActivityName="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.khleuven.kortlevenheylen.securesms.activities.ConversationsActivity" />
        </activity>
        <activity
            android:name="be.khleuven.kortlevenheylen.securesms.activities.PasswordActivity"
            android:label="@string/title_activity_password"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>